*{
  
}

.modal {
  display: inline-block; 
  padding: 0 1em;
  text-align: center;
  position: inherit;
  margin-top: 4rem;
}
@media (min-width: 43.75em) {

  .modal {
    padding: 1em 2em;
    text-align: left;
  }
}

.modal > label {
  border: 1px solid white;
  border-radius: .2em;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0.75em 1.5em;
  -webkit-transition: all 0.55s;
  transition: all 0.55s;
  font-size: 78%;
  width: 100%;
}

.modal > label:hover {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

.modal input {
  display: none;
  position: absolute;
  z-index: -10;
}

.modal__overlay {
  background:rgba(255, 255, 255, .96);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -800;
}

.modal__box {
  position: relative;
  margin: 1em auto;
}
@media (min-height: 37.5em) {

.modal__box {
  left: 99%;
  position: absolute;
  top: -1%;
  -webkit-transform: translate(-50%, -80%);
  -ms-transform: translate(-50%, -80%);
  transform: translate(-50%, -80%);
}
}
@media (min-width: 50em) {

.modal__box {}
}

.modal__box label {
  color: black;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5em;
  position: absolute;
  right: .5em;
  top: 0em;
  width: 1.5em;
  font-size: 150%;
  font-weight: 10rem;
}

.modal__box h2 {
  color: #FFDE16;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.modal__box p {
  color: #FFDE16;
  text-align: left;
}

.modal__overlay {
  margin: auto;
  border: 0;
  width: 95%;
  height: 95%;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

input:checked ~ .modal__overlay {
  text-align: center;
  border-radius: 1%;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 800;
}

input:focus + label {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

#closemodal{
  float: right;
}

.mbox{
  padding:0 6%;
  height: 80%;
  overflow-y: scroll; 
}

#modal-header{
  margin-bottom: 2rem;
  text-align: center;
  padding: 3rem;
  background: rgba(0, 120, 191, 0.75);
  color: white;
  font-weight: 5rem;
}

#modal-content{
 padding: 2rem 0;
}

#requirements,
#bonus,
#offer{
  font-size: 98%;
  text-align: initial;
}

#requirements span,
#bonus span,
#offer span{
  padding: 5px;
  width: 100%;
}

#requirements ol{
  display: block;
  margin-top: 1rem;
}

#requirements ol li{
  color:rgba(226, 97, 97, 100);
  
}

#rqs{
  color:#a94442;
}

#bonus{
  margin-top: 0rem;
  margin-bottom: 2rem;
}

#bonus ol{
  display: block;
  margin-top: 1rem;
}

#bns{
  color:#3c763d;
  
}

#bonus ol li{
  color:rgb(74, 167, 86);
}

#offer{
  margin-top: 3rem;
  text-align: center;
}

#offer table{
  margin-top: 2rem;
  text-align: center;
  width: 75%;
  margin: 2rem auto;
}

#offer table thead tr th,
#offer table tbody tr th{
  text-align: center;
}

#silverlast{
  font-weight: bolder;
}

#contribpts-cont{
  
}

#contrib_bigbox{
  height: 57% !important;
  width: 65% !important;
}

#contribpts-cont{
  padding: 1%;
  margin-bottom: 5rem;
}

#contrib-cont table{
  width:75%;
  margin: auto;
}
#contrib-cont table tr th{
   text-align: center;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(0, 120, 191, 0.61);
  color: white;
  font-weight: bolder;
}

#cstmize-bigbox{
  width: 50% !important;
  height: 65% !important;
}

#intro-cstmize{
  margin-bottom: 1.5rem;
}

.skype{
  padding: 0;
  margin-bottom: -3rem;
  background: #f0f4c3;
  margin-top: 3rem;
}

.skype:hover{
  background: #ffee58;
}

#mail{
  background: #ffcdd2;
  padding: 3.5rem 0;
}

#mail:hover{
  background: #e57373;
  color: white;
}

#content1{
  margin-bottom: 3rem;
}

#content1 span{
  color: #a94442;
  font-size: 1.5em;
  font-weight: 120;
}

#content1 span strong{
  color: #FFC107;
}

#table1 {
  width: 75%;
  margin: 0 auto;
}

#table2 {
  width: 75%;
  margin: 0 auto;
}

#table2 tr td:nth-child(4){
  width:100px;
}

td, th{
  text-align: center;
}

.bttn{
  padding: 15px;
  border-radius: 8px;
  margin-right: 2rem;
}

#level{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#level2{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#word2{
  margin-top: 6rem;
  margin-bottom: 3rem;
}

#word2 span{
  font-size: 1.5em;
  color:#3c763d;
  font-weight: 120;
}

#word2 span strong{
  color:#FFC107;
}

