*{
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	
}
#cont{
	padding: 15px;
}

#logincont{
	width:24%;
	height:53%;
	border:1px solid #ccc;
	border-radius:4px;
	margin-top: 50px;
	margin-bottom: 50px;
}
	
#loginftext{	
	font-weight: bolder;
	font-size: 16px;
	margin-right: 100px;
	margin-top:15px; 
	padding:12px;
}

#loginfields{
	float:left;
}

#loginfields hr{
	border: none;
    height: 1px;
    color: #cccccc;
    background-color: #cccccc;
    width:105%;
}

#textfields{
	margin-top: 25px
}

#textfields form input{
	border:1px solid #999;
	margin-left: 5px;
	border-radius: 3px;
	text-align: center;
}

#subbtn{
	margin-top:18px;
	text-align: center;
}

#submit{
	background-color: #007f00;
	color:white;
	padding:3px 3px 3px 3px;
	width:80px;
	border-radius: 4px;
	border:none;

}

#passwrd{
	margin-top: 10px;
}


#passwrd span{
	margin-right:3px;
}

#passwrd input,
#username{
	width:100%;
}

#username input{
	width:100%;
}



#message{
	margin-top: 5%;
	text-align: center;
	margin-bottom: 5%;
	float:left;
	color:#d94d32;
}



#foot{
	margin-top: 7%;
}

